<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produkt sida</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slutprojekt | webutveckling 2 & webserverprogrammering</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/darkmode.css">


    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/3e0ba644be.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/vendor/splide.min.css">
</head>
<body>
    <div class="full-screen">
        <div id="page_loader"></div>
    </div>

    <%- include('navbar') %>

    <main>
        <section class="jumbotron">
            <h1>Bild kanske och logo</h1>
        </section>
        
        <!-- https://app.haikei.app/ -->
    
        <section class="main-content">
            <div class="">
                <a href="/">Tillbaka</a>
            </div>
    
            <div class="product-card">
            
                <div>
                    <div id="product-carousel" class="splide">
                        <div class="splide__track">
                            <ul class="splide__list">
                                <li class="splide__slide">
                                    <img class="product-image" src="https://i0.wp.com/www.webbyfeed.com/wp-content/uploads/2020/08/shrek.jpg">
                                </li>
                                <li class="splide__slide">
                                    <img class="product-image" src="https://2.bp.blogspot.com/-Alyh9NCQTgY/VL77pFNp3GI/AAAAAAAAQAU/dk538mjy93g/s1600/14.jpg">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="product-info">
                    <h1 id="review-title"><%= product[0].name %></h1> 
                    <div class="card-stars">
                        <div class="average-rating">
                            <i class="rating__star far fa-star"></i>
                            <i class="rating__star far fa-star"></i>
                            <i class="rating__star far fa-star"></i>
                            <i class="rating__star far fa-star"></i>
                            <i class="rating__star far fa-star"></i>
                            <span>1/5</span>
                        </div>
                        
                    </div>
                    <div class="description">
                        <p><%= product[0].description %></p>
                    </div>
                </div>
    
            </div>
    
            <% if (user) { %>
            <div class="">
                <a class="popup-button">Skriv en review!</a>
            </div>  
    
            <div class="popup-background">
                <span class="helper"></span>
                <div class="popup-window">
                    <div class="close-popup-button">&times;</div>
                    <p>Skriv en review</p>
                    <div id="review-form">
                        <!-- 
                            Om det användaren skickar är identiskt till något som redan är publicerat så ska det flaggas
                            Om användaren använder massa svordommar i sin text så bör den också flaggas automatiskt
                
                            Om någonting flaggas så ska den inte publiceras utan den ska bli manuellt accepterad av en admin
                            Detta fungerar inte för på en skalad nivå, tex om sidan skulle få 200.000 dagliga användare
                          -->
                          
                        <input type="text" id="title" placeholder="Title" class="review-input">
                        <input type="text" id="name" placeholder="Name" class="review-input">
                        <textarea cols="60" rows="10" id="content" placeholder="Content" class="review-input"></textarea>
                        <!-- 
                            https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_star_rating 
                            https://www.w3schools.com/howto/howto_css_star_rating.asp
                        -->
                
                        <div class="rating">
                            <i class="rating__star rating-changable far fa-star"></i>
                            <i class="rating__star rating-changable far fa-star"></i>
                            <i class="rating__star rating-changable far fa-star"></i>
                            <i class="rating__star rating-changable far fa-star"></i>
                            <i class="rating__star rating-changable far fa-star"></i>
                        </div>
                
                        <input type="submit" id="send_review_button" value="Submit">
                        
                    </div>
                    <p>Förhandsvisning</p>
                <!-- Formatering ? -->
                    <div class="card">
                        <h1 id="preview-title"></h1> 
                        <div class="rating">
                            <i class="preview__rating__star far fa-star"></i>
                            <i class="preview__rating__star far fa-star"></i>
                            <i class="preview__rating__star far fa-star"></i>
                            <i class="preview__rating__star far fa-star"></i>
                            <i class="preview__rating__star far fa-star"></i>
                        </div>
                        <span id="preview-name"></span>
                        <span id="preview-date"></span>
                        <p id="preview-content"></p>
                    </div> 
                </div>
    
            </div>
            <% } %>
            <div class="review-cards">
            <% for (const key in reviews) { %>
    
                <div class="review-card">
                    <h1 id="review-title"><%= reviews[key].title %></h1> 
                    <div class="average-rating">
                        <i class="rating__star far fa-star"></i>
                        <i class="rating__star far fa-star"></i>
                        <i class="rating__star far fa-star"></i>
                        <i class="rating__star far fa-star"></i>
                        <i class="rating__star far fa-star"></i>
                        <span><%= reviews[key].rating %>/5</span>
                    </div>
                    <span id="review-name"><%= reviews[key].nickname %></span>
                    <span id="review-date"><%= reviews[key].created_at %></span>
                    <p id="review-content"><%= reviews[key].content %></p>                
                </div> 
                
            <% } %>
            </div>
    
            <div class="pagnition">
                <!-- Pagnition [Show more] -->
                <a href="javascript:void(0)" onclick="more_reviews(10)" class="pagnition_button">Visa Mer!</a>
            </div>
        </section>
        
        <footer id="footer">
            <div>
                <p id="copyright">Copyright &copy; Linus J</p>
            </div>
        </footer>

    </main>
    <!-- Fixa detta -->
    <script src="/scripts/base.js"></script>
    <script src="/scripts/product.js"></script>
    <script src="/scripts/scroll_button.js"></script>
    <script src="/scripts/copyright.js"></script> 
    <script src="/scripts/darkmode.js"></script>

    
    <!-- Outsource -->

    <!-- Script imported from https://splidejs.com/ (MIT LICENSE) -->
    <script src="/scripts/vendor/splide.min.js"></script>
    <script>
        new Splide( '#product-carousel', {
            type         : 'loop',
            autoplay     : 'pause',
            arrows       : 'slider',
            perPage      : 1,
            pauseOnHover : true,
            resetProgress: false,
        }).mount();
    </script>
</body>
</html>
</body>
</html>