<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produkt sida</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slutprojekt | webutveckling 2 & webserverprogrammering</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/darkmode.css">


    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/3e0ba644be.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/vendor/splide.min.css">
</head>
<body>
    <div class="full-screen">
        <div id="page_loader"></div>
    </div>

    <%- include('navbar') %>

    <main>
        <section class="jumbotron">
            <h1>Bild kanske och logo</h1>
        </section>
        
        <!-- https://app.haikei.app/ -->
    
        <section class="main-content">
            <div class="">
                <a href="/">Tillbaka</a>
            </div>
    
            <div class="product-card">
            
                <div>
                    <div id="product-carousel" class="splide">
                        <div class="splide__track">
                            <% if (product[0].pictures.length > 0) { %>
                            <ul class="splide__list">

                                <% for (let index = 0; index < product[0].pictures.length; index++) { %>
                                    
                                    <li class="splide__slide">
                                        <!-- <h1><%= product[0].pictures.length  %></h1><h1><%= index  %></h1> -->
                                        <img class="product-image" src="<%= product[0].pictures[index].url %>" alt="Picture of <%= product[0].name %>" >
                                    </li>
                                <% } %>
                            
                            </ul>
                            <% } else { %>
                                <img src="https://upload.wikimedia.org/wikipedia/commons/b/ba/No_image_yet2.jpg" crossorigin="anonymous" class="product-image" alt="Product not avaliable">
                            <% } %>

                        </div>
                    </div>
                </div>
                <div class="product-info">
                    <h1 id="review-title"><%= product[0].name %></h1> 
                    <div class="card-stars">
                        <!-- Fixa detta så att det fungerar med average rating osv (Ta från skriptet och ändra ba om det till EJS) --> 
                        <div class="average-rating">
                            <i class="rating__star far fa-star"></i>
                            <i class="rating__star far fa-star"></i>
                            <i class="rating__star far fa-star"></i>
                            <i class="rating__star far fa-star"></i>
                            <i class="rating__star far fa-star"></i>
                            <span>1/5</span>
                        </div>
                        
                    </div>
                    <div class="description">
                        <p><%= product[0].description %></p>
                    </div>
                </div>
    
            </div>
            
            <div>
                <% if (user) { %>
                    <h3>Vill du betygsätta <%= product[0].name %>?</h3>

                    <div class="card"> 
                        <!-- Kommer fyllas av response data -->
                        <div id="submit_result"><span></span></div>
        
                        <div>
                            <!-- https://htmldom.dev/placeholder-for-a-contenteditable-element/ -->
                            <h1 class="editable" contenteditable="true" id="__review-title" data-placeholder="Titel . . ."></h1>
                        </div>
                        <div class="rating" style="user-select: none;">
                            <i class="rating__star rating-changable far fa-star"></i>
                            <i class="rating__star rating-changable far fa-star"></i>
                            <i class="rating__star rating-changable far fa-star"></i>
                            <i class="rating__star rating-changable far fa-star"></i>
                            <i class="rating__star rating-changable far fa-star"></i>
                        </div>
                        <div id="review-content-div">
                            <p class="editable wordwrap" style="max-width:inherit;" contenteditable="true" id="__review-content" data-placeholder="Recenssions innehåll"></p>
                        </div>
        
                        <button id="submit-review-button">
                            <p>Publicera!</p>
                        </button>
        
                    </div>
                    
                <% } else { %>
                    <h3>Logga in för att betygsätta <%= product[0].name %></h3>
                <% } %>
            </div>  


            <!-- Fylls  av product.js -->
            <div class="cards"></div>
    
            <div class="pagnition">
                <!-- Pagnition [Show more] -->
                <a href="javascript:void(0)" class="pagnition_button">Visa Mer!</a>
            </div>
        </section>
        
        <footer>
            <div>
                <p id="copyright">Copyright &copy; Linus J</p>
            </div>
        </footer>

    </main>
    <!-- Fixa detta -->
    <script src="/scripts/base.js"></script>
    <script src="/scripts/product.js"></script>
    <script src="/scripts/scroll_button.js"></script>
    <script src="/scripts/copyright.js"></script> 
    <script src="/scripts/darkmode.js"></script>

    
    <!-- Outsource -->

    <!-- Script imported from https://splidejs.com/ (MIT LICENSE) -->
    <script src="/scripts/vendor/splide.min.js"></script>
    <script>
        new Splide( '#product-carousel', {
            type         : 'loop',
            autoplay     : 'pause',
            arrows       : 'slider',
            perPage      : 1,
            pauseOnHover : true,
            resetProgress: false,
        }).mount();
    </script>
</body>
</html>
</body>
</html>