<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slutprojekt | webutveckling 2 & webserverprogrammering</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/darkmode.css">



    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/3e0ba644be.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="full-screen">
        <div id="page_loader"></div>
    </div>

    <%- include('navbar') %>

    <main>

        <section class="jumbotron" style="background-image: url('https://media1.tenor.com/images/8007930423bc8dcdcd61da470a182286/tenor.gif'); background-position: center;">
            <h1 style="background-color: brown;color: aquamarine;">Bild kanske och logo</h1>
        </section>
        
        <!-- https://app.haikei.app/ -->
        <section class="content" id="profile-content">
            <div class="review-cards">
                <div>
                    <h1>Här har du dina postade reviews</h1>
                </div>

                <div class="cards"></div>

                <div class="pagnition">
                    <a href="javascript:void(0)" class="pagnition_button">Visa Mer!</a>
                </div>
                
            </div>
    
            <div class="card" id="profile-card">
                <div class="title">
                    <h1>Redigera profilen</h1>
                </div>
                <div id="profile-card-content">
                    <div class="profile-image">
                        <img src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png" crossorigin="anonymous" class="profile-image" alt="Profile Pictre">
                        <h3>Nuvarande namn:</h3>
                        <p><%= user.username %></p>
                        <h3>Nuvarande epost:</h3>
                        <p><%= (user.email != "") ? `${user.email}` : "Du har inte angivit en epostadress"; %></p>
                    </div>
                    <div>
                        <form action="/api/update_profile" method="POST">
                            <input type="text" name="username" placeholder="username">
                            <input type="email" name="email" placeholder="email">
                            <input type="submit" value="Uppdatera">
                        </form>
                        <span>Created at : <%= user.created_at %></span>
                    </div>
    
                </div>
            </div> 
        
        </section>
        
        <footer>
            <div>
                <p id="copyright">Copyright &copy; Linus J</p>
            </div>
        </footer>
        
    </main>

    <script src="/scripts/base.js"></script>
    <script src="/scripts/profile.js"></script>
    <script src="/scripts/scroll_button.js"></script>
    <script src="/scripts/copyright.js"></script>
    <script src="/scripts/darkmode.js"></script>

</body>
</html>